.navbar-brand img{
    width: 50px;
}

.main-title{
    text-align: center;
    padding: 30px;
}

#contacts-table{
    max-width: 800px;
    margin: 0 auto;
}

#contacts-table thead{
    color: white;
    --bs-table-bg:  rgb(0, 153, 255);
}

.empty-list-text{
    text-align: center;
}

.msg{
    color: #155724;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    text-align: center;
    margin: 0 auto;
    max-width: 800px;
    padding: 10px;
    margin-top: 30px;
}

.check-icon{
    color: #1E7E34;
}
.edit-icon{
    color: #007bff;
}
.delete-icon{
    color: red;
}

.delete-btn{
    border: none;
    background-color: transparent;
}

.actions{
    text-align: right;
    margin-right: 5px;
}

.col-id{
    font-weight: bold;
}

/* view */

.view-contact-container{
    max-width: 500px;
    margin: 0 auto;
}

.bold{
    font-weight: bold;
}

.back-link-container{
    max-width: 500px;
    margin: 30px auto 0;
    display: block;
}

.back-link{
    border: 1px solid #007bff;
    color: #007bff;
    border-radius: 7px;
    padding: 10px;
    text-decoration: none;
}